@page "/counter"


<h3>Counter</h3>

<p class="lead">Sum:@count</p>

<button class="btn btn-primary" @onclick="Count1">Count</button>
<button class="btn btn-primary" @onclick="Reset">Reset</button>

@code {
    /// <summary>
    /// 计数值 
    /// </summary>
    /// <value>默认是 1 </value>
    public int count { get; set; } = 1;

    /// <summary>
    /// 计数累加
    /// </summary>
    public void Count1()
    {
        count +=2;
    }

    public void Reset()
    {
        count = 1;
    }
   
}