@page "/cv"
@layout CVLayout
<h3 class="text-center">个人简历</h3>

<div class="row">
    <div class="col-md-3 text-center side">

        <figure class="side-t">
            <div class="kk left"></div>
            <div class="kk right"></div>
            <div class="side-title">
                基本信息
            </div>
        </figure>
        <div>
            联系方式
        </div>
        <div>
            兴趣爱好
        </div>
    </div>
    <div class="col-md-9">
        <div>
            教育经历
        </div>
        <div>
            工作经验
        </div>
        <div>
            荣誉证书
        </div>
        <div>
            自我评价
        </div>
    </div>
</div>
@code {

}
