<h3>ArticleList</h3>


<table class="table">
    <thead>
        <tr>
            <th>Title     </th>
            <th>Tags      </th>
            <th>Datetime  </th>
            <th>ReadNumber</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var at in articles)
        {
            <tr>
                <td>@at.Title      </td>
                <td>
                    @foreach (var tag in at.Tags)
                    {
                        <Tag>@tag</Tag>
                    }
                </td>
                <td>@at.Datetime   </td>
                <td>@at.ReadNumber </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public class ArticleListItem
    {
        public string Title { get; set; }
        public string[] Tags { get; set; } = { "#tag1", "#tag2" };
        public string Datetime { get; set; }
        public int ReadNumber { get; set; }
    }
    public List<ArticleListItem> articles = new List<ArticleListItem>(1);

    protected override void OnInitialized()
    {
        articles.Add(new ArticleListItem { Title = "title_1", Datetime = DateTime.Now.ToString(), ReadNumber = 10 });
        articles.Add(new ArticleListItem { Title = "title_1", Datetime = DateTime.Now.ToString(), ReadNumber = 10 });
        articles.Add(new ArticleListItem { Title = "title_1", Datetime = DateTime.Now.ToString(), ReadNumber = 10 });
        articles.Add(new ArticleListItem { Title = "title_1", Datetime = DateTime.Now.ToString(), ReadNumber = 10 });
        articles.Add(new ArticleListItem { Title = "title_1", Datetime = DateTime.Now.ToString(), ReadNumber = 10 });
    }
}
