@using Markdig
@using Blog.Blazor.Components
@implements IAsyncDisposable
@inject IJSRuntime JS

@if (post is null)
{
    <p>...</p>
}
else
{
    <div class="row">
        <div id="blog-markdown-body" class="markdown-body dark col-md-9">
            <div class="float-right">
                <MarkdownThemeSwitchComponent></MarkdownThemeSwitchComponent>
            </div>
            <h1>@post.Title</h1>
            @convertedMarkdown
        </div>
        <div id="blog-markdown-siderbar" class="col-md-3">
            <ul id="blog-markdown-toc">
            </ul>
            <Blog.Blazor.Pages.Cards.TagsCard></Blog.Blazor.Pages.Cards.TagsCard>
        </div>
    </div>

}

@code {
    [Parameter]
    public Blog.Blazor.Models.hexo.Post post { get; set; }

    private MarkupString convertedMarkdown;
    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //在第一次呈现组件实例时设置为 true。
            //可用于确保初始化操作仅执行一次。
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/script.js");
            await module.InvokeVoidAsync("generateTOC", "blog-markdown-body", "blog-markdown-toc");
        }
    }

    protected override void OnParametersSet()
    {
        var pipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseGridTables()
        .UseBootstrap().Build();
        convertedMarkdown = (MarkupString)Markdig.Markdown.ToHtml(post.Content, pipeline);
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
