@using Markdig
<a href="/articles/">返回文章列表</a>

@if (post is null)
{
    <p>...</p>
}
else
{
    <div class="markdown-body">
        @convertedMarkdown
    </div>
}
@code {
    private MarkupString convertedMarkdown;
    [Parameter]
    public Blog.Blazor.Models.hexo.Post post { get; set; }

    protected override void OnParametersSet()
    {
        var pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions()
        .UseGridTables()
        .UseBootstrap().Build();
        convertedMarkdown = (MarkupString)Markdig.Markdown.ToHtml(post.Content, pipeline);
    }
}
