@using Blog.BlazorApp.Components

@if (post is null)
{
    <p>...</p>
}
else
{
    <div class="row">
        <div class="dark col-md-9">
            <EditormdPreviewComponent 
                Content=@(post.Content) 
                TocUrl=@("/articles/"+post.Id)
                TocContainerID=@("#blog-markdown-toc")></EditormdPreviewComponent>
        </div>
        <div id="blog-markdown-siderbar" class="col-md-3">
            On this page
            <hr>
            <div id="blog-markdown-toc">
            </div>
            <TagsCloudComponent></TagsCloudComponent>
        </div>
    </div>

}


@code {
    [Parameter]
    public Post post { get; set; }
}
