<div id="blog-markdown-editor">
    <textarea style="display:none;">@ChildContent</textarea>
</div>

@implements IAsyncDisposable
@inject IJSRuntime JS
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/script.js");
            await module.InvokeVoidAsync("initToHtmlByEditor","blog-markdown-editor");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
