@implements IAsyncDisposable
@inject IJSRuntime JS
@inject ILogger<MarkdownThemeSwitchComponent> logger
<div class="form-check form-switch">
    <input type="checkbox" class="form-check-input" id="customSwitch1" checked="@(theme=="light"?false:true)" @onchange=Switch>
    <label class="form-check-label" for="customSwitch1">@(theme=="light"?"日间模式":"夜间模式")</label>
</div>
@code {
    private string theme { get; set; }
    private IJSObjectReference module;

    private async Task Switch()
    {
        await module.InvokeVoidAsync("switchTheme", "blog-markdown-theme");
        theme = await GetMarkdownTheme();
        logger.LogInformation("Switch " + theme);
    }

    protected override async Task OnInitializedAsync()
    {
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/script.js");
        theme = await GetMarkdownTheme();
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    private async Task<string> GetMarkdownTheme() => await module.InvokeAsync<string>("getMarkdownTheme", "blog-markdown-theme");
}
