@using Blog.BlazorApp.Components
@using Blog.BlazorApp.Pages
@using Markdig
@implements IAsyncDisposable
@inject IJSRuntime JS
<div id="chart-container"></div>
@code {
    
    private IJSObjectReference module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //在第一次呈现组件实例时设置为 true。
            //可用于确保初始化操作仅执行一次。
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/script.js");
            await module.InvokeVoidAsync("InitTree");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
