@*<span class="badge badge-info" style="margin-right:2px;" >@ChildContent</span>*@

<a href="/tags/@Href" class="badge badge-info" style="margin-right:2px;">@ChildContent</a>


@code {
    [Parameter]
    public string Href { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
