@*<h3>CollapseItem</h3>*@

<div class="card">
    <div class="card-header" id="headingOne" @onclick="OnClickChangeCollapse">
        <div class="mb-0">
                @Text
        </div>
    </div>

    <div id="collapseOne" class="@(isCollapse ? "show" : "collapse")">
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool isCollapse = false;

    private void OnClickChangeCollapse()
    {
        isCollapse = !isCollapse;
    }
}
