@*<h3>CollapseItem</h3>*@

<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-block text-left" type="button" @onclick="OnClickChangeCollapse">
                @Text
            </button>
        </h2>
    </div>

    <div id="collapseOne" class="@(isCollapse ? "show" : "collapse")">
        <div class="card-body">
            @isCollapse
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public bool isCollapse = false;

    private void OnClickChangeCollapse()
    {
        isCollapse = !isCollapse;
    }
}
