@page "/sqlparser"
<h3>index &nbsp;</h3>

<code>
@((MarkupString)LISP_Tree)
</code>

@using Antlr4.Runtime
@using System.Text
@code {
    private string LISP_Tree;
    protected override void OnParametersSet()
    {
        string sql = "SELECT t1.a01,t1.b01,t2.bo2 FROM sha.A t1 left join qaw.B t2 on t1.b01=t2.b01;SELECT count(1) FROM A;";
        var charStream = CharStreams.fromString(sql);
        var lexer = new HiveLexer(charStream);
        var tokens = new CommonTokenStream(lexer);
        var parser = new HiveParser(tokens);
        parser.BuildParseTree = true;
        var tree = parser.statements();
        LISP_Tree = tree.ToStringTree(parser);
                Console.WriteLine(LISP_Tree);

        int tn = 0;
        var res = new StringBuilder();
        foreach (var item in LISP_Tree)
        {
            if (item == '(')
            {
                tn += 2;
                var space = new string(' ', tn);
                res.Append ("<br>" + space + item);
            }
            else if (item == ')')
            {
                tn -= 2;
                var space = new string(' ', tn);
                res.Append ( item + "<br>" + space);
            }
            else
            {
                res.Append ( item);
            }
        }
        LISP_Tree = res.Replace(" ","&nbsp;").ToString();
        Console.WriteLine(LISP_Tree);
    }
}
  