@page "/sqlparser"
<h3>index &nbsp;</h3>

<code>
@((MarkupString)LISP_Tree)
</code>

@using Antlr4.Runtime
@using System.Text
@code {
    private string LISP_Tree;
    protected override void OnParametersSet()
    {
        string sql = "SELECT A,B,C FROM A;SELECT count(1) FROM A;";
        var charStream = CharStreams.fromString(sql);
        var lexer = new HiveLexer(charStream);
        var tokens = new CommonTokenStream(lexer);
        var parser = new HiveParser(tokens);
        parser.BuildParseTree = true;
        var tree = parser.statements();
        LISP_Tree = tree.ToStringTree(parser);

        int tn = 0;
        string res = "";
        foreach (var item in LISP_Tree)
        {
            if (item == '(')
            {
                tn += 2;
                var space = new StringBuilder("&nbsp;", tn);
                space.Append("&nbsp;", tn);
                .ToString();
                res += "<br>" + space + item;
            }
            else if (item == ')')
            {
                tn -= 2;
                var space = new StringBuilder("&nbsp;", tn).ToString();
                res += item + "<br>" + space;
            }
            else
            {
                res += item;
            }
        }
        LISP_Tree = res;
        Console.WriteLine(LISP_Tree);
    }
}
