@page "/timeline"
<div class="col-md-9" style="position: relative; ">
    <div style="border-right: 2px solid rgb(170, 170, 170); height: 100%; left: 31px; position: absolute; top: 0px;">
    </div>
    <ul style="list-style-type: none; margin: 0px; padding: 0px;">
        @for (int i = 0; i <= 10; i++)
        {
            <li style="margin-bottom: 8px;">
                <div style="align-items: center; display: flex; margin-bottom: 4px;">
                    <div style="background-color: rgb(170, 170, 170); border-radius: 9999px; height: 32px; width: 32px;">
                    </div>
                    <div style="flex: 1 1 0%; margin-left: 16px;">
                        【这里是标题】
                        <div style="width: 80%;">
                            <div style="background-color: rgba(0, 0, 0, 0.3); border-radius: 0.25rem; height: 8px; width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left: 48px;">
                    【这里是内容】
                    <div style="display: flex; flex-wrap: wrap; justify-content: start; width: 100%;">
                        @for (var j = 0; j < new Random().Next(1, 9) * 20; j++)
                        {

                            <div style="margin-bottom: 8px; margin-right: 8px; width: @(new Random().Next(1, 8)*10)%;">
                                <div style="background-color: rgba(0, 0, 0, 0.3); border-radius: 9999px; height: 2px; width: 100%;">
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </li>
        }

    </ul>
</div>